Repository woonstadrotterdam/monumenten, pull requests merged in 2024-12, with the labels that each got.

#8 Update kadaster query and add gemeentelijke monumenten
  README.md
  src/monumenten/_api/_kadaster.py
  src/monumenten/_processing.py
  src/monumenten/client.py
  tests/test_client.py
Labels: bug, documentation, enhancement

#6 Output in VERA-standaard
  README.md
  src/monumenten/client.py
  tests/test_client.py
Labels: documentation, enhancement

#11 Shapely verwijderd als expliciete dependency
  pyproject.toml
Labels: chore

#12 Update kadaster endpoint
  src/monumenten/_api/_kadaster.py
Labels: chore

#13 ontdubbelen op bag_verblijfsobject_id
  src/monumenten/client.py
Labels: bug

#15 Monumenten op meerdere percelen
  src/monumenten/_api/_kadaster.py
  src/monumenten/client.py
  tests/test_client.py
Labels: bug
