Repository woonstadrotterdam/monumenten, pull requests merged in 2025-02, with the labels that each got.

#19 Update referentiedata rijksbeschermd stadsgezicht
  README.md
  pyproject.toml
  src/monumenten/client.py
  tests/test_client.py
Labels: documentation, chore

#20 Cache beschermde gezichten
  .pre-commit-config.yaml
  pyproject.toml
  src/monumenten/_processing.py
  tests/test_client.py
Labels: enhancement

#21 Update sigstore version
  .github/workflows/publish-to-pypi.yml
Labels: chore

#22 Fix return type
  src/monumenten/client.py
Labels: chore

#23 Fix mypy type checking
  .github/workflows/publish-to-pypi.yml
  .pre-commit-config.yaml
  pyproject.toml
  src/monumenten/_processing.py
  src/monumenten/client.py
  tests/test_client.py
Labels: chore

#24 Vul rijksmonumentstatus aan vanuit Kadaster
  README.md
  src/monumenten/_api/_cultureel_erfgoed.py
  src/monumenten/_api/_kadaster.py
  src/monumenten/_processing.py
  src/monumenten/client.py
Labels: documentation, enhancement

#25 readthedocs
  .pre-commit-config.yaml
  .readthedocs.yaml
  docs/index.md
  docs/requirements.txt
  mkdocs.yml
Labels: documentation, chore

#26 disclaimer README toegevoegd
  README.md
Labels: documentation, chore

#27 Bron rijksmonument toevoegen + documentatie verbeteringen
  README.md
  docs/index.md
  docs/requirements.txt
  docs/tutorial.ipynb
  mkdocs.yml
  src/monumenten/_processing.py
  src/monumenten/client.py
  tests/test_client.py
Labels: documentation, enhancement
